        <!-- Inspiro Slider -->
        <div id="slider" class="inspiro-slider slider-fullscreen">
            <!-- Slide 1 -->
            <div class="slide" data-bg-video="assets/polo/video/pexels-waves.mp4">
                <video autoplay loop muted style="position: absolute; top: 0; width: 100%;"><source src="/assets/polo/video/pexels-waves.mp4" type="video/mp4"></video>
                <div class="bg-overlay"></div>
                <div class="slide-captions text-left text-light">
                    <!-- Captions -->
                    <h2 class="text-uppercase text-lg">Hotels | Rental | Flights</h2>
                    <p class="text-small">BROWSE OUR FAVORITE VACATION RENTAL DESTINATIONS</p>
                    <!-- end: Captions -->
                </div>
            </div>
            <!-- end: Slide 1 -->
        </div>
        <!--end: Inspiro Slider -->


        <div class="container">

            <div *ngIf="isLoading" style="height: 400px; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                <h2 style="text-align: center; font-size: 60px;">Loading...</h2>
            </div>

            <!-- Gallery -->
            <div class="grid-layout grid-3-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery" *ngIf="!isLoading">
                <div class="grid-item" *ngFor="let item of data">
                    <label style="font-weight: 600; text-decoration: underline;">{{ item.name }} - {{ item.cityName}}</label>
                    <label>{{ item.shortDescription }}</label>
                    <a class="image-hover-zoom" data-lightbox="gallery-image"><img src="{{item.primaryPhoto.small}}"></a>
                </div>
            </div>

            <div class="grid-layout grid-2-columns" data-margin="20" data-item="grid-item" data-lightbox="gallery" style="display: none;">
                <div class="grid-item">
                    <a class="image-hover-zoom" data-lightbox="gallery-image"><img src="/assets/polo/images/gallery/1.jpg"></a>
                </div>
                <div class="grid-item">
                    <a class="image-hover-zoom" data-lightbox="gallery-image"><img src="/assets/polo/images/gallery/2.jpg"></a>
                </div>
                <div class="grid-item">
                    <a class="image-hover-zoom" href="images/gallery/3.jpg" data-lightbox="gallery-image"><img src="/assets/polo/images/gallery/3.jpg"></a>
                </div>
                <div class="grid-item">
                    <a class="image-hover-zoom" href="images/gallery/4.jpg" data-lightbox="gallery-image"><img src="/assets/polo/images/gallery/4.jpg"></a>
                </div>
                <div class="grid-item">
                    <a class="image-hover-zoom" href="images/gallery/5.jpg" data-lightbox="gallery-image"><img src="/assets/polo/images/gallery/5.jpg"></a>
                </div>
                <div class="grid-item">
                    <a class="image-hover-zoom" href="images/gallery/6.jpg" data-lightbox="gallery-image"><img src="/assets/polo/images/gallery/6.jpg"></a>
                </div>
                <div class="grid-item">
                    <a class="image-hover-zoom" href="images/gallery/7.jpg" data-lightbox="gallery-image"><img src="/assets/polo/images/gallery/7.jpg"></a>
                </div>
                <div class="grid-item">
                    <a class="image-hover-zoom" href="images/gallery/8.jpg" data-lightbox="gallery-image"><img src="/assets/polo/images/gallery/8.jpg"></a>
                </div>
                <div class="grid-item">
                    <a class="image-hover-zoom" href="images/gallery/9.jpg" data-lightbox="gallery-image"><img src="/assets/polo/images/gallery/9.jpg"></a>
                </div>
                <div class="grid-item">
                    <a class="image-hover-zoom" href="images/gallery/9.jpg" data-lightbox="gallery-image"><img src="/assets/polo/images/gallery/10.jpg"></a>
                </div>
            </div>
            <!-- end: Gallery -->
        </div>