<div class="row">
    <div class="col-sm-3">
      <div class="text-center">
        <div class="icon"><i class="fa fa-3x fa-code"></i></div>
        <div class="counter"> <span data-speed="100" data-refresh-interval="50" [attr.data-to]="adminData.usersCount"
            data-from="0" data-seperator="true">{{ adminData.usersCount }}</span> </div>
        <div class="seperator seperator-small"></div>
        <p>USERS</p>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="text-center">
        <div class="icon"><i class="fa fa-3x fa-code"></i></div>
        <div class="counter"> <span data-speed="100" data-refresh-interval="50" [attr.data-to]="adminData.searchesCount"
            data-from="0" data-seperator="true">{{ adminData.searchesCount }}</span> </div>
        <div class="seperator seperator-small"></div>
        <p>TOTAL SEARCHES</p>
      </div>
    </div>
  
  </div>
  
  <div class="row">
    <h2>Top Hotel Searches</h2>
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Address</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of adminData.mostSearchedHotels">
            <td>{{row.name}}</td>
            <td>{{row.count}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  <div class="row">
    <h2>Top Rental Searches</h2>
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Address</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of adminData.mostSearchedRentals">
            <td>{{row.name}}</td>
            <td>{{row.count}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  <div class="row">
    <h2>Top Flight Searches</h2>
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Address</th>
            <th>Count</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of adminData.mostSearchedFlights">
            <td>{{row.name}}</td>
            <td>{{row.count}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>